hosts
kazoo/etc/commit
monster-ui/etc/commit
kamailio/etc/commit
freeswitch/etc/commit
kazoo-sounds
makebusy/etc/api_key
export/freeswitch/freeswitch.tar
export/kazoo/kazoo.tar
export/kamailio/kamailio.tar
export/monster-ui/monster-ui.tar
kazoo-ci/etc/*.commit
